h1 {
color: black;
float:center;
}

h3{
color: black;
font-size: x-large;
}

img{
    float:left;
}

main {
    font-weight: bold;
    background-image: url("/images/aboutbg.jpeg");
    background-position: center;
background-size:cover;
height: 100vh;
width:100vw;
padding-top: 100px;
  padding-right: 70px;  
  padding-bottom: 80px;
  padding-left: 100px;
 }

    