body{
    background-image: url("/images/shopbg.png");
}

.products {
    float:left;
    padding: 100px;
    padding-left: 150px;
}

.products1 {
    float:right;
    padding: 60px;
    padding-top: 100px;
    padding-right: 100px;
}

h1 {
    text-align: center;
    padding-top: 100px;
    color: darkblue;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 10px 10px 5px lightblue;

    
}

button {
    font-weight: bold;
    font-size: large;
}

.img1{
    box-shadow: 10px 10px 5px grey;
    ;
}

h2 {
    text-align: center;
    font-weight: bold;
}


